<% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

    <ul>
      <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="jumbotron">
  <%= form_for @question, html: { multipart: true } do |f| %>
    <div class= "form-group">
      <p> <b>Select Exam</b>
        <%= select_tag("papers",options_for_select(Paper.all.map{ |c| [c.name,c.id]}), class: "btn btn-primary", style: "background-color:white;color:black")%>
      </p>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4" >
        <%= f.label :Body %>
        <%= f.text_field :question, class: "form-control" %>

        <%= f.label :Total_marks %>
        <%= f.text_field :total_marks, class: "form-control" %>
      </div>
    </div>
    <%= f.fields_for :images do |image_form| %>
      <%= image_form.file_field :name %>
    <% end %>
    <div class="form-row">
      <div class="form-group col-md-4">
        Options:
        <%= f.fields_for :options  do |o| %>
          <div class="form-group" id=add_option>
            <%= radio_button_tag "question[correct_option]", o.index, @question.options.ids %>
            <%= o.text_field :body, class: "form-control" %>
          </div>
        <% end %>
        <%= link_to 'Add Option',questions_add_option_path , id: "new_link" , remote: true %>
        <br />
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
