<%= form_for @question do |f| %>
  <div class="field" >
    <%= f.label :Exam_id %>
    <%= f.text_field :paper_id %>
  </div>

  <div class="field" >
    <%= f.label :Body %>
    <%= f.text_field :question %>
  </div>

  <div class="field" >
    <%= f.label :Total_marks %>
    <%= f.text_field :total_marks %>
  </div>

 Options:

  <%= f.fields_for :options  do |o|%>
    <div class="field" id=add_option>
      <%= radio_button_tag "question[correct_option]", o.index, @question.options.ids %>
      <%= o.text_field :body %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
