<head>
  <style>

    table, th, td {
    border: 2px solid orange;}

  </style>
</head>

<h1> Listing Questions </h1>
<table>
  <tr>
    <th> Exam_id </th>
    <th> Body </th>
    <th> Total_Marks </th>
  </tr>

  <% @question.each do |q| %>
    <tr>
      <!-- <td><% id = q.paper_id  %>
      <% name = Question.find(id) %>
      <%= name.paper.name %></td> -->
      <td><%= q.question %></td>
      <td><%= q.total_marks %></td>
      <td><%= link_to 'Show', question_path(q) %></td>
      <td><%= link_to 'Edit', edit_question_path(q) %></td>
      <td><%= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New  Question', new_question_path %>
