<div class="container">
  <h1> Listing Questions </h1>
  <table class="table table-light table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th> Exam </th>
        <th> Questions </th>
        <th> Total Marks </th>
        <th colspan="3"> Actions </th>
      </tr>
    </thead>
    <tbody>
    <% @question.each do |q| %>
      <tr>
        <td><%= q.paper.name %></td>
        <td><%= q.question %></td>
        <td><%= q.total_marks %></td>
        <td><%= link_to 'Show', question_path(q) %></td>
        <td><%= link_to 'Edit', edit_question_path(q) %></td>
        <td><%= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <br/>
  <div class="text-center">
  <a href=" /questions/new " class="btn btn-primary" role="button" aria-pressed="true">New Question</a>
  </div>
</div>
