<div class="container">
  <h3> Listing Questions <span class="text-center">
    <a href=" /questions/new " class="btn btn-primary float-right ma-rg" role="button" aria-pressed="true">New Question</a></span>
  </h3>
  <table class="table table-light table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th> Exam </th>
        <th> Questions </th>
        <th> Total Marks </th>
        <th colspan="3"> Actions </th>
      </tr>
    </thead>
    <tbody>
    <% @question.each do |q| %>
      <tr>
        <td><%= q.paper.name %></td>
        <td><%= q.question %></td>
        <td><%= q.total_marks %></td>
        <td>
          <a title="show" href="/questions/<%= q.id %>"><%=                   image_tag("visibility.svg",:style=>"max-width:20px;min-width:20px") %></a>
        </td>
        <td>
          <a title="edit" href="/questions/<%= q.id %>/edit"><%= image_tag("edit.svg",:style=>"max-width:20px;min-width:20px") %></a>
        </td>
        <td>
          <a title="delete" data-method="delete" data-confirm="Are you sure?" href="/questions/<%= q.id %>"><%= image_tag("delete.svg",:style=>"max-width:20px;min-width:20px") %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <br/>

</div>
