<div class="container">
  <h1> New  Question </h1>
  <%= form_for @question do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
          <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="jumbotron">
      <div class= "form-group">
        <p> <b>Select Exam</b>
          <%= select_tag("papers",options_for_select(Paper.all.map{ |c| [c.name,c.id]}), class: "btn btn-primary", style: "background-color:white;color:black")%>
        </p>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= f.label :Body %>
          <%= f.text_field :question, class: "form-control", placeholder: "Question"%>
            </br>
          <%= f.label :Total_marks %>
          <%= f.text_field :total_marks, class: "form-control", placeholder: "Total Marks" %>
        </div>
      </div>
      <div class="form-group">
        Options:
        <%= f.fields_for :options  do |o|%>
          <div class= "form-group" id=add_new_option>
            <%= radio_button_tag "question[correct_option]",o.index,@question.options.ids%>
            <%= o.text_field :body %>
          </div>
        <% end %>
      </div>
      <%= link_to 'add_option',questions_add_option_path , id: "new_link" , remote: true %>
      <div class= "form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
