<div class="card" style="width: 25rem;">

  <p class="card-header">
    <strong> Exam: </strong>
    <%= @question.paper.name %>
  </p>

  <div class="card-body" %>

    <p>
      <strong> Question: </strong>
      <%= @question.question %>
    </p>

    <p>
      <%= image_tag @question.images.first.name_url(:thumb).to_s, alt: 'Image'  if @question.images.first.present? %>
    </p>

    <p>
      <strong> Total Marks: </strong>
      <%= @question.total_marks %>
    </p>

    <p>
      <strong> Correct Option: </strong>
      <% correctOption = @question.options.find(@question.correct_option_id) %>
      <%= correctOption.body %>
    </p>

    <p>
      <strong> Options: </strong>
      <% @question.options.each do |t| %>
      <%= t.body %>
      <% end %>
    </p>

  </div>

  <span class="card-footer">
    <a title="edit" href="/questions/<%= @question.id %>/edit"><%= image_tag("edit.svg",:style=>"max-width:20px;min-width:20px") %></a>|
    <a title="back" href="/questions"><%=
    image_tag("back.png",:style=>"max-width:40px;min-width:20px") %></a>
  </span>
</div>
