<div class="jumbotron">
  <%= form_for @user do |f| %>
    <div class="form-row">
      <div class="form-group col-md-4" >
        <div class="field">
          <%= f.label :fname %>
          <%= f.text_field :fname, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :lname %>
          <%= f.text_field :lname, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :contact %>
          <%= f.text_field :contact, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    </div
  <% end %>
</div>
