<style>
  .jumbotron{
    margin-right: 15rem;
  }
</style>

<% if @paper.errors.any? %>
  <div id="error_explanation">
      <% @paper.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron">
  <%= form_for @paper do |f| %>

    <div class="form-group col-md-4 row">
      <%= f.label :Name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class = "actions" >
      <%= f.submit class: "btn btn-primary"%>
    </div >
  <% end %>
</div>
