<div class="container">
  <h1><p class="text-center"> Start Test </p></h1>
  <%= form_for @test do |f| %>
    <%= f.hidden_field :start_date, :value => Date.today  %>
    <%= f.hidden_field :paper_id, :value => params[:paper_id]  %>
    <% @question.each_with_index do |question_object,index| %>
      <div class="col-12 col-md-8">
        <strong> Question <%= index+1 %>: </strong>
        <%= question_object.question %>
        <% question_id = question_object.id %>
          </br>
        <div class="col-6 col-md-4">
          <%= f.fields_for :responses do |r| %>
            <% option = question_object.options %>
            <% option.each_with_index do |o,i| %>
              <% i+1 %>
              <% if i %2 == 0%>
                <br />
              <% end %>
              <span class="col-sm-6">
                <input type="radio" value="<%=o.id%>" name="test[responses_attributes][<%=question_id%>][response]" id="test_responses_attributes_[<%=question_id%>]">
                <%= r.label :response, o.body %>
              </span>
            <% end %>
            </br></br>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <p class="text-center">
        <input type= "submit" class= "btn btn-danger" name= "commit" value= "End Test" data-disable-with= "End Test">
      </p>
    </div>
  <% end %>
</div>
