<div class="container">
  <%= form_for @test do |f| %>
    <%= f.hidden_field :start_date, :value => Date.today  %>
    <%= f.hidden_field :paper_id, :value => params[:paper_id]  %>
    <% @question.each_with_index do |question_object,index| %>
      <div class="col-12 col-md-8">
        <strong> <%= index+1 %>: </strong>
        <%= question_object.question %>
        <%= image_tag question_object.images.first.name_url(:thumb).to_s, alt: 'Image'  if    !question_object.images.first.nil? %>
        <% question_id = question_object.id %>
          </br>
        <div class="col-6 col-md-6">
          <%= f.fields_for :responses do |response_f| %>
          <%= response_f.hidden_field :question_id, value: question_object.id %>
            <% question_object.options.each_with_index do |option, i| %>
              <% i+1 %>
              <% if i %2 == 0%>
                <br />
              <% end %>
              <span class="col-sm-6">
                <%= response_f.radio_button :response, option.id %>
                <%= response_f.label :response, option.body %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="actions text-center">
      <%= f.submit  "End Test", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
