<div class="container">
  <h1> Listing Tests </h1>

  <table class="table table-light table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th> User email </th>
        <th> Start Date </th>
        <th> End Date </th>
        <th> Test Date </th>
        <th> Marks Obtained </th>
        <th> Result </th>
        <th> Exam </th>
      </tr>
    </thead>
    <tbody>
      <% @test.each do |t| %>
        <tr>
          <td><%= t.user.email %></td>
          <td><%= t.start_date.to_time.strftime(' %dth,%b %Y') %></td>
          <td><%= t.end_date.to_time.strftime(' %dth,%b %Y') %></td>
          <td><%= t.test_date.to_time.strftime(' %dth,%b %Y') %></td>
          <td><%= t.marks_obtained %></td>
          <td><%= t.result %></td>
          <td><%= t.paper.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <div class="text-center">
  <a href=" /tests/welcome " class="btn btn-primary" role="button" aria-pressed="true">New Test</a>
  </div>
</div>
