<div class="container">
  <h1> Listing Tests </h1>

  <table class="table table-light table-hover table-sm">
    <thead class="thead-dark">
    <tr>
      <th> User email </th>
      <th> Startdate </th>
      <th> Enddate </th>
      <th> Testdate </th>
      <th> Marks Obtained </th>
      <th> Result </th>
      <th> Paper Id </th>
      <th> Actions </th>
    </tr>

    <% @test.each do |t| %>
      <tr>
        <td><%= current_user.email %></td>
        <%# sdate = t.start_date.to_s %>
        <%#=DateTime.parse(t.start_date.to_s).strftime("%B %d, %Y") %>
        <%#=  t.start_date.to_time.strftime(' %a, %b %d') %>
        <td><%= t.start_date.to_time.strftime(' %a, %b %d') %></td>
        <td><%= t.end_date.to_time.strftime(' %a, %b %d') %></td>
        <td><%= t.test_date.to_time.strftime(' %a, %b %d') %></td>
        <td><%= t.marks_obtained %></td>
        <td><%= t.result %></td>
        <td><%= t.paper.name %></td>
        <td><%= link_to 'Show', test_path(t) %></td>
      </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to 'New  Test', tests_welcome_path %>
</div>
