<p>
  <strong> User id: </strong>
  <%= @test.user_id %>
</p>

<p>
  <strong> Start date: </strong>
  <%= @test.start_date %>
</p>

<p>
  <strong> End date: </strong>
  <%= @test.end_date %>
</p>

<p>
  <strong> Test date: </strong>
  <%= @test.test_date %>
</p>

<p>
  <strong> Marks obtained: </strong>
  <%= @test.marks_obtained %>
</p>

<p>
  <strong> Result: </strong>
  <%= @test.result %>
</p>

<p>
  <strong> Paper_Id: </strong>
  <%= @test.exam_id %>
</p>

<%= link_to 'Back',tests_path %>
