 <!DOCTYPE html>
<html>
  <head>
    <title>Exam</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body { background-color: lightyellow; }
      table, th, td {
      border: 2px solid orange;}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm" style="background-color: lightgreen">
      <li class="nav-item dropdown">

        <a class="nav-dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          <%= image_tag("ksolves_logo.jpg", height: 50, width: 150) %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% if user_signed_in? %>
           <a class="dropdown-item" href="#"><%= link_to current_user.email, edit_user_registration_path %></a>
           <a class="dropdown-item" href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
          <% else %>
           <a class="dropdown-item" href="#"><%= link_to "Sign Up", new_user_registration_path %></a>
           <a class="dropdown-item" href="#"><%= link_to "Login", new_user_session_path %></a>
          <% end %>
        </div>
      </li>
    </nav>

    <div><%= alert %></div>

    <%= yield %>
  </body>
</html>
